@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass {
        @apply backdrop-blur-xl backdrop-saturate-200 bg-background-glass;
    }

    .hover-glass {
        @apply cursor-pointer drop-shadow shadow-inner bg-primary-glass dark:bg-primaryDark-glass glass-border;
    }

    .hover-glass-hover {
        @apply hover:bg-primaryHover-glass dark:hover:bg-primaryDarkHover-glass;
    }

    .floating-glass {
        @apply glass drop-shadow shadow-inner glass-border;
    }

    .scroll-track {
        ::-webkit-scrollbar {
            width: 17px;
        }

        ::-webkit-scrollbar-thumb {
            @apply cursor-pointer drop-shadow shadow-inner bg-primaryHover dark:bg-primaryDarkHover border border-primary;
            border-radius: 999px;
            border: 5px solid transparent;
            background-clip: padding-box;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    .glass-border {
        position: relative;
        border: none;
    }

    .glass-border::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(to bottom right, #bfbfbf  0%, rgba(115, 114, 114, 0.1) 40%, rgba(115, 114, 114, 0.1) 60%, #bfbfbf 100%);
        -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 1px;
    }

    .gradient-border {
        position: relative;
        border: none;
    }

    .gradient-border::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(0.45turn, #ff5900, #ff8800, #ffb700);
        -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 2px;
    }
}