services:
  postgres-stravamap:
    profiles:
      - postgres
    image: postgres:latest
    container_name: postgres-stravamap
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
        
  web-stravamap:
    container_name: web-stravamap
    depends_on:
      - postgres-stravamap
    build: ui/web
    ports:
      - 3003:3000
    profiles:
      - web
    env_file:
      - .env


volumes:
  postgres_data: