name: CI Authentication

on:
  pull_request:
    paths:
      - 'services/auth/**'

jobs:
    unit_tests:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: |
          cd backend/authentication-service
          npm install

      - name: Lint
        run: |
          cd backend/authentication-service
          npm run lint

      - name: Test
        run: |
          cd backend/authentication-service
          npm run test

